/* 
// #001C35
// #003968
// #003A6A (ideal page background color behind circuit background image)
// #0087F7
// #00A6FF
// #B7FFFF
// #DAFFFF
*/

body
{
background-color: #003A6A;
background-image: url("./encapsule-blue-circuit-bg-1920x1440.jpg");
font-family: Verdana, Arial, Tahoma;
font-size: 12pt;
color: white;
}

a { color: #00A6FF; text-shadow: 1px 1px #003968; font-weight: bold;}
a:hover { color: #00CC00; text-shadow: 1px 1px #001C35; }
a:active { color: #009900; text-shadow: -1px -1px #001C35; }

#idSiteTitle { color: #DAFFFF; font-size: 22pt; font-weight: bold; text-shadow: 2px 2px #003A6A; }
#idTagLine { color: #00A6FF; font-weight: bold; text-shadow: -1px -1px #003A6A; }