/* 
// #001C35
// #003968
// #003A6A (ideal page background color behind circuit background image)
// #0087F7
// #00A6FF
// #B7FFFF
// #DAFFFF
*/

body
{
background-color: #CCCCCC;
background-image: url("./img/brushed-metal-background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Arial;
font-size: 12pt;
}

a { color: #FF7700;  font-weight: bold; text-decoration: none;}
a:hover { color: #DD5500; text-decoration: underline;}
a:active { color: #FF0000; }

#idSiteTitle { color: white; font-size: 26pt; font-weight: bold; text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.4); text-align: center; }
#idTagLine { color:  #AAAAAA; font-weight: bold; font-size: 12pt;  padding-top: 0.5em; padding-bottom: 0.5em; text-align: center;}