#idPageTextBackground
{
position: fixed;
left: 50%;
top: 50%;
margin-left: -400px;
margin-top: -200px;
background-color: rgba(255,255,255,0.4);
width: 800px;
height: 400px;
z-order: 0;
border-radius: 16px;
overflow: hidden;
box-shadow: 1em 1em 5em rgba(0,0,0,0.2);
}

#idPageText
{
margin: 10px;
padding: 30px;
width: 720px;
z-order: 1;
color: #666666;
}